@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot') format('embedded-opentype'),
      url('./font/iconfont.woff2') format('woff2'),
      url('./font/iconfont.woff') format('woff'),
      url('./font/iconfont.ttf') format('truetype'),
      url('./font/iconfont.svg') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    font-size: 14px;
    height: 100%;
}
body::after{
    content: '';
    clear: both;
    display: both;
}
.top-nav{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #354457;
    position: fixed;
    top: 0;
}
.top-nav .logo{
    padding-left: 20px;
    color: #b3bcc5;
}
.top-nav .logo img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.left-menu{
    position: fixed;
    top: 70px;
    height: calc(100% - 70px);
    width: 200px;
    background-color: #4d5e70;
}
.left-menu dl{
    color: #b3bcc5;
    line-height: 40px;
    overflow: hidden;
}
.left-menu dl dt{
    padding-left: 10px;
}
.left-menu dl dd{
    padding-left: 40px;
    width: 200px;
    cursor: pointer;
}
.left-menu dd:hover{
    background-color: rgba(255,255,255,0.5);
    color: #354457;
}
.left-menu dl .active{
    background-color: #ddd;
    color: #354457;
}

.right-content{
    margin: 70px 0px 0px 200px;
    background-color: #eee;
    min-height: calc(100% - 70px);
    float: left;
    width: calc(100% - 200px);
}
.student-list table{
    width: 100%;
    text-align: center;
    line-height: 30px;
    /* display: none; */
}
.student-list thead{
    background-color: #e3e8ee;
    color: #646987;
}
.student-list tbody{
    background-color: #fff;
}
.student-list .btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15%;
}
.student-list .edit{
    background-color: #5cb85c;
}
.student-list .remove{
    background-color: #d9534f;
}
.student-add{
    display: none;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-content{
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
}
.student-form{
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.student-form div{
    margin: 10px 0;
}
.student-form div label{
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.student-form div .sex{
    width: auto;
}
.student-form .btn{
    margin-left: 100px;
}
.student-form .btn input{
    margin: 5px;
    padding: 5px 25px;
}
.turn-Page{
    text-align: center;
}
.turn-Page button{
    margin: 3px 5px;
    cursor: pointer;
    display: none;
}
.turn-Page span{
   text-decoration: underline;
   cursor: pointer;
   color: hotpink;
}
.student-search .search-function{
    width: 400px;
    height: 100px;
    margin: 5px auto;
}
.student-search .search-function input{
    padding: 3px 10px;
}
.student-search table{
    width: 100%;
    text-align: center;
    line-height: 30px;
    /* display: none; */
}
.student-search thead{
    background-color: #e3e8ee;
    color: #646987;
}
.student-search tbody{
    background-color: #fff;
}
.student-search .btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15%;
}
.student-search .edit{
    background-color: #5cb85c;
}
.student-search .remove{
    background-color: #d9534f;
}
.student-Welcome {
   width: 800px;
   margin: 50px auto;
}
.student-Welcome span{
    font-size: 60px;
}
.student-Welcome .icon{
    width: 1000px;
    height: 300px;
    margin-top: 100px;
}
.student-Welcome .icon1,.icon2,.icon3,.icon4{
    float: left;
    width: 200px;
    transition: 1s;
}
.student-Welcome .text{
    display: block;
    font-size: 20px;
    padding-left: 40px;
}
.student-Welcome .iconfont{
    font-size: 120px;
    margin: 20px;
    cursor: pointer;
}
.student-Welcome .icon1:hover{
    font-size: 150px;
    color: hotpink;
    font-weight: bold;
}
.student-Welcome .icon2:hover{
    font-size: 150px;
    color: hotpink;
    font-weight: bold;
}
.student-Welcome .icon3:hover{
    font-size: 150px;
    color: hotpink;
    font-weight: bold;
}
.student-Welcome .icon4:hover{
    font-size: 150px;
    color: hotpink;
    font-weight: bold;
}
.send-actor{
    display: none;
}
.send-actor iframe{
    height: 600px;
    width: 100%;
}
