.logo{
    position: relative;
    width: 190px;
    height: 120px;
    text-align: center;
    padding: 10px 0;
}
.logo-title{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 190px;
    height: 120px;
    background-image: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png);
    /* 设置背景图片大小的 */
    /* background-size: auto 100%; */
    /* 
        cover  保持图片本身的宽高比  覆盖当前区域
    */

}
.logo-bg{
    display: inline-block;
    background-size: auto 100%;
    width: 134px;
    height: 120px;
    background-image: url(http://img1.360buyimg.com/da/jfs/t1/31022/15/6795/70332/5c90a829E8c89e387/ee4f9471a2383d4a.gif?v=0.8177988927234789);
}
.animate-end{
    z-index: 1 !important;
}
.show-bg{
    z-index: -1;
}
.search{
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 70px;
}
.search-box{
    width: 546px;
    height: 32px;
    margin-top: 25px;
    border: 2px solid #e2231a;
    background: #fff;
    position: relative;
}
.search-box input{
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    outline: none;
}
.search-box a{
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.search-box span{
    position: absolute;
    top: calc(50% - 9px);
    right: 72px;
}
.search-box span:hover{
    color: #e1251b;
    cursor: pointer;
}
.search-box .search-list{
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 35px;
    left: -1px;
    width: 488px;
    display: none;
    z-index: 90;
}
.search-box .search-list li{
    line-height: 24px;
    padding: 1px 6px;
}
#hotwords {
    overflow: hidden;
    position: absolute;
    left: 260px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
#hotwords .style-red{
    color: #e1251b;
}
.search .cw-icon {
    position: absolute;
    left: 640px;
    top: calc(50% - 5px);
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
    color: #e1251b;
}
.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
    color: #e1251b;
}
#navitems {
    overflow: hidden;
    position: absolute;
    left: 203px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
}
#navitems .spacer, #navitems li, #navitems ul {
    float: left;
}
#navitems li {
    margin-left: 1px;
}
#navitems-group1 .fore1 a, #navitems-group1 .fore2 a {
    font-weight: 700;
    color: #e1251b;
}
#navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
#navitems a:hover{
    color: #e1251b;
}
.search .iconfont{
    font-size: 16px;
}